:root {
    --black-color: #0A0908;
    --gray-color: #22333B;
    --white-color: #F2F4F3;
    --border-radius: 15px;
    --main-color: #3E3BEC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
}


.container {
    background-color: var(--white-color);
    max-width: 500px;
    width: 90%;
    height: auto;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.input-field {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.input-field input {
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid var(--main-color);
    outline: 0;
    font-size: 24px;
    width: 100%;
}

.input-field label {
    font-size: 20px;
    margin: 10px 0px;
}

#mainButton {
    padding: 15px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 15px;
    margin-top: 20px;
}

.result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.result label {
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
}

.result p {
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    color: var(--main-color);
    text-align: center;
}

#lucroNumber p {
    color: green;
}

#gasto p {
    color: red;
}

#message p {
    font-weight: bold;
}

#message p i {
    color: var(--main-color);
}

.result section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    margin-top: 30px;
}

#present {
    color: red;
    border-radius: 5px;
    margin: 0px 5px;
    background-color: #3E3BEC;
    padding: 5px;
}

#finalResult {
    color: rgb(0, 203, 0);
    border-radius: 5px;
    margin: 0px 5px;
    background-color: #3E3BEC;
    padding: 5px;
}